<aside th:fragment="sidebar" class="mr-sidebar" id="sidebar">

	<a href="/dashboard" class="active">🏠 Dashboard</a>

	<a th:href="@{/approvals}" data-role="SUPER_ADMIN">
		✅ Pending Approvals
	</a> <a href="#" data-role="SUPER_ADMIN">👥 Users</a>

	<a th:href="@{/wholesaler/medicines}" data-role="SUPER_ADMIN WHOLESALER">💊 Medicine Master</a>
	<a th:href="@{/wholesaler/inventory}" data-role="WHOLESALER">📦 Inventory</a>

	<a th:href="@{/retailer/search-medicines}" data-role="RETAILER">🔍 Search Medicines</a>
	<a th:href="@{/retailer/cart}" data-role="RETAILER">🛒 Cart</a>

	<a th:href="@{/orders}" data-role="SUPER_ADMIN WHOLESALER RETAILER">📋 Orders</a>
	<a th:href="@{/invoices}" data-role="SUPER_ADMIN WHOLESALER RETAILER">🧾 Invoices</a>
	<a th:href="@{/reports}" data-role="SUPER_ADMIN WHOLESALER RETAILER">📊 Reports</a>

	<a href="#" data-role="DOCTOR">🩺 Prescriptions</a>
	<a href="#" data-role="HOSPITAL">🏥 Hospital Procurement</a>

	<a th:href="@{/notifications}" data-role="SUPER_ADMIN WHOLESALER RETAILER DOCTOR HOSPITAL">🔔 Notifications</a>
	<a th:href="@{/profile}" data-role="SUPER_ADMIN WHOLESALER RETAILER DOCTOR HOSPITAL">👤 Profile</a>


</aside>